Repository perfectra1n/trilium-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, tui, config, utils, types, import-export, tests, documentation, build, ci, dependencies, configuration

.github/labeler.yml:

# Add labels to PRs based on file changes

# Component labels
api:
  - changed-files:
    - any-glob-to-any-file: 'src/api/**/*'

cli:
  - changed-files:
    - any-glob-to-any-file: 'src/cli/**/*'

tui:
  - changed-files:
    - any-glob-to-any-file: 'src/tui/**/*'

config:
  - changed-files:
    - any-glob-to-any-file: 'src/config/**/*'

utils:
  - changed-files:
    - any-glob-to-any-file: 'src/utils/**/*'

types:
  - changed-files:
    - any-glob-to-any-file: 'src/types/**/*'

import-export:
  - changed-files:
    - any-glob-to-any-file: 'src/import-export/**/*'

# Test labels
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**/*'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - 'vitest.config.ts'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Build and CI
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig*.json'
      - 'package.json'
      - 'package-lock.json'
      - 'scripts/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'pnpm-lock.yaml'

# Configuration files
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '.prettierrc'
      - '.prettierignore'
      - 'eslint.config.js'
      - '.gitignore'
      - 'vitest.config.ts'
      - 'tsconfig*.json'

feat(dev): yeet TUI
  .github/workflows/ci.yml
  docker-compose.test.yml
  package.json
  src/bin/trilium-tui.ts
  src/cli/commands/config.ts
  src/cli/index.ts
  src/import-export/formats/git.ts
  src/import-export/formats/obsidian.ts
  src/main.ts
  src/tui-demo.tsx
  src/tui-simple.tsx
  src/tui/components/App.tsx
  src/tui/components/App_old.tsx
  src/tui/components/ContentView.tsx
  src/tui/components/InputModal.tsx
  src/tui/components/SearchView.tsx
  src/tui/components/SplitView.tsx
  src/tui/components/StatusBar.tsx
  src/tui/components/TreeView.tsx
  src/tui/components/index.ts
  src/tui/hooks/index.ts
  src/tui/hooks/useApi.ts
  src/tui/hooks/useAppState.ts
  src/tui/hooks/useKeyboard.ts
  src/tui/index.ts
  src/tui/types/index.ts
  src/tui/utils/contentFormat.ts
  src/tui/utils/index.ts
  src/types/config.ts
  src/utils/auth.ts
  src/utils/cli.ts
  src/utils/search.ts
  test/fixtures/trilium-init/setup-trilium.ts
  test/tui/components/SearchView.test.tsx
  test/tui/components/TreeView.test.tsx
  test/unit/tui-features.test.ts
Labels: cli, tui, utils, types, import-export, tests, build, ci, dependencies

feat(tui): new tui, part 1
  package.json
  src/cli/commands/tui.ts
  src/cli/index.ts
  src/tui/App.tsx
  src/tui/components/AttributeManager.tsx
  src/tui/components/CommandPalette.tsx
  src/tui/components/CreateNoteDialog.tsx
  src/tui/components/HelpPanel.tsx
  src/tui/components/NoteViewer.tsx
  src/tui/components/SearchPanel.tsx
  src/tui/components/StatusBar.tsx
  src/tui/components/TreeView.tsx
  src/tui/hooks/useKeyBindings.ts
  src/tui/hooks/useNavigation.ts
  src/tui/hooks/useNoteOperations.ts
  src/tui/index.tsx
  src/tui/types.ts
  src/types/config.ts
Labels: cli, tui, types, build, dependencies

feat(tui): maybe finally working now?
  src/api/client.ts
  src/core-cli.test.ts
  src/tui/App.tsx
  src/tui/components/ErrorBoundary.tsx
  src/tui/components/LoadingIndicator.tsx
  src/tui/components/NoteEditor.tsx
  src/tui/components/NoteViewer.tsx
  src/tui/components/TreeView.tsx
  src/tui/hooks/useKeyBindings.ts
  src/tui/hooks/useNavigation.ts
  src/tui/hooks/useRetry.ts
  src/tui/types.ts
  src/types/api.ts
  src/utils/http-simple.ts
  test/api/client.test.ts
  test/api/types.test.ts
  test/integration/api-integration.test.ts
  test/integration/error-handling.test.ts
  test/integration/live-api-integration.test.ts
  test/integration/performance-benchmark.test.ts
  test/integration/test-server.ts
  test/setup.ts
  test/utils/validation.test.ts
  vitest.config.ts
Labels: api, tui, utils, types, tests, configuration

feat(cli/tui): support no auth trilium instances
  .github/workflows/test.yml
  package.json
  src/api/client.ts
  src/cli/commands/completion.ts
  src/cli/commands/config.ts
  src/cli/commands/template.ts
  src/types/config.ts
  src/utils/templates.ts
  test/api/client.test.ts
  test/integration/client-features.test.ts
Labels: api, cli, utils, types, tests, build, ci, dependencies

feat(ci): fixup ci
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  .gitignore
  tsconfig.core.json
  tsconfig.minimal.json
Labels: build, ci, configuration

fix(ci): Fix CI failures - add missing ESLint dependencies and correct test imports
  package-lock.json
  package.json
  test/cli/note.test.ts
  test/import-export/formats.test.ts
Labels: tests, build, dependencies

feat(ci): everything almost passes?
  README.md
  src/cli/commands/tag.ts
  test/api/client.test.ts
  test/cli/commands/tag.test.ts
Labels: cli, tests, documentation

feat(ci): we at least compile now
  src/cli/commands/tag.ts
Labels: cli

feat(ci): think everything passes now?
  test/cli/commands/tag.test.ts
Labels: tests

feat(dev): use EDITOR as editor
  docs/external-editor.md
  package-lock.json
  package.json
  src/cli/commands/editor-config.ts
  src/cli/commands/note.ts
  src/cli/index.ts
  src/config/index.ts
  src/tui/App.tsx
  src/tui/components/ExternalNoteEditor.tsx
  src/tui/components/NoteEditor.tsx
  src/tui/components/NoteViewer.tsx
  src/tui/components/TreeView.tsx
  src/types/config.ts
  src/utils/editor.ts
  src/utils/markdown.ts
  src/utils/terminal-state.ts
  test/utils/editor.test.ts
Labels: cli, tui, config, utils, types, tests, documentation, build, dependencies

feat(dev): breakout the zod and tui packages
  demo-resize.tsx
  package-lock.json
  package.json
  src/api/client.ts
  src/cli/commands/tui.ts
  src/tui/App.tsx
  src/tui/components/AttributeManager.tsx
  src/tui/components/CommandPalette.tsx
  src/tui/components/CreateNoteDialog.tsx
  src/tui/components/ErrorBoundary.tsx
  src/tui/components/ExternalNoteEditor.tsx
  src/tui/components/HelpPanel.tsx
  src/tui/components/LoadingIndicator.tsx
  src/tui/components/NoteEditor.tsx
  src/tui/components/NoteViewer.tsx
  src/tui/components/SearchPanel.tsx
  src/tui/components/StatusBar.tsx
  src/tui/components/TreeView.tsx
  src/tui/hooks/useKeyBindings.ts
  src/tui/hooks/useNavigation.ts
  src/tui/hooks/useNoteOperations.ts
  src/tui/hooks/useRetry.ts
  src/tui/index.tsx
  src/tui/types.ts
  src/types/index.ts
  src/types/validation.ts
  test/tui/terminal-resize.test.ts
Labels: api, cli, tui, types, tests, build, dependencies

Revert "feat(dev): breakout the zod and tui packages"
  demo-resize.tsx
  package-lock.json
  package.json
  src/api/client.ts
  src/cli/commands/tui.ts
  src/tui/App.tsx
  src/tui/components/AttributeManager.tsx
  src/tui/components/CommandPalette.tsx
  src/tui/components/CreateNoteDialog.tsx
  src/tui/components/ErrorBoundary.tsx
  src/tui/components/ExternalNoteEditor.tsx
  src/tui/components/HelpPanel.tsx
  src/tui/components/LoadingIndicator.tsx
  src/tui/components/NoteEditor.tsx
  src/tui/components/NoteViewer.tsx
  src/tui/components/SearchPanel.tsx
  src/tui/components/StatusBar.tsx
  src/tui/components/TreeView.tsx
  src/tui/hooks/useKeyBindings.ts
  src/tui/hooks/useNavigation.ts
  src/tui/hooks/useNoteOperations.ts
  src/tui/hooks/useRetry.ts
  src/tui/index.tsx
  src/tui/types.ts
  src/types/index.ts
  src/types/validation.ts
  test/tui/terminal-resize.test.ts
Labels: api, cli, tui, types, tests, build, dependencies

feat(cli): better handle cloned notes
  src/api/client.ts
  src/cli/commands/branch.ts
  src/cli/commands/note.ts
  src/cli/commands/organize.ts
  src/cli/index.ts
  src/main.ts
Labels: api, cli
